hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
    max-width: 50%;
}

@media(min-width:768px) {
  hr {
    margin-top: -20px;
  }
}

a.links {
  font-size: 18px;
}
